In [2]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [3]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
lending_data_df = pd.read_csv("../Resources/lending_data.csv")
lending_data_df.head()

# Review the DataFrame
lending_data_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [4]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = lending_data_df["loan_status"]
# .values.reshape(-1, 1)


# Separate the X variable, the features
X = lending_data_df.copy()
X.drop("loan_status", axis=1, inplace=True)

In [5]:
# Review the y variable Series
y[:5]

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [6]:
# Review the X variable DataFrame
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [7]:
# Check the balance of our target values

y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [8]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [9]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_regression_model = LogisticRegression(solver='lbfgs', random_state=1)


# Fit the model using training data
lr_model = logistic_regression_model.fit(X_train, y_train)
lr_model

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [10]:
# Make a prediction using the testing data
testing_predictions = lr_model.predict(X_test)
testing_results = pd.DataFrame({"Prediction": testing_predictions, "Actual": y_test}).reset_index(drop=True)
testing_results.head(10)

   Prediction  Actual
0           0       0
1           0       0
2           0       0
3           0       0
4           0       0
5           0       0
6           0       0
7           0       0
8           0       0
9           0       0

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [11]:
# Print the balanced_accuracy score of the model
print(f"Training Data Score: {lr_model.score(X_train, y_train)}")
print(f"Testing Data Score: {lr_model.score(X_test, y_test)}")
# Display the accuracy score for the test dataset.
print(f"Balanced Accuracy Score: {balanced_accuracy_score(y_test, testing_predictions)}")

Training Data Score: 0.9921240885954051
Testing Data Score: 0.9918489475856377
Balanced Accuracy Score: 0.9520479254722232

In [12]:
# Generate a confusion matrix for the model

test_matrix = confusion_matrix(y_test, testing_predictions)
test_matrix_df = pd.DataFrame(test_matrix, 
                                index = ["Actual Healthy Loan", 
                                "Actual High_Risk Loan"], 
                                columns = ["Predicted Healthy Loan", "Predicted High_Risk Loan"]
                              )
test_matrix_df

                       Predicted Healthy Loan  Predicted High_Risk Loan
Actual Healthy Loan                     18663                       102
Actual High_Risk Loan                      56                       563

In [13]:
# Print the classification report for the model
testing_report = classification_report(y_test, testing_predictions, target_names=["0 (healthy loan)", "1 (high-risk loan)"])
print(testing_report)

                    precision    recall  f1-score   support

  0 (healthy loan)       1.00      0.99      1.00     18765
1 (high-risk loan)       0.85      0.91      0.88       619

          accuracy                           0.99     19384
         macro avg       0.92      0.95      0.94     19384
      weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** 
Healthy loans are predicted quite accurately as shown by precision and f1-scores of 1 and recall of 0.99. The prediction of high-risk loans is not as accurate as indicated by the lower values.
The lower  values may  be the result of the smaller size of the training data set for high risk compared to healthy loans (Approx 3%).
Due to the risks associated with a defaulted loan and alternate method should be used to evaluate risk.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [14]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
ROS_model = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
X_over_sampled, y_over_sampled= ROS_model.fit_resample(X_train, y_train)

In [15]:
# Count the distinct values of the resampled labels data
y_over_sampled.value_counts()

0    56271
1    56271
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [16]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
LR_ROS_model = LogisticRegression(solver='lbfgs', random_state=1)

# Fit the model using the resampled training data
lr_ROS_model = LR_ROS_model.fit(X_over_sampled, y_over_sampled)
lr_ROS_model
# Make a prediction using the testing data
y_ROS_predictions = lr_ROS_model.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [17]:
# Print the balanced_accuracy score of the model 
print(f"Training Data Score: {lr_ROS_model.score(X_over_sampled, y_over_sampled)}")
print(f"Testing Data Score: {lr_ROS_model.score(X_test, y_test)}")
# Display the accuracy score for the test dataset.
print(f"Balanced Accuracy Score: {balanced_accuracy_score(y_test, y_ROS_predictions)}")

Training Data Score: 0.9947308560359688
Testing Data Score: 0.9938093272802311
Balanced Accuracy Score: 0.9936781215845847

In [18]:
# Generate a confusion matrix for the model
test_ROS_matrix = confusion_matrix(y_test, y_ROS_predictions)
test_ROS_matrix_df = pd.DataFrame(test_ROS_matrix, 
                                index = ["Actual Healthy Loan", 
                                "Actual High_Risk Loan"], 
                                columns = ["Predicted Healthy Loan", "Predicted High_Risk Loan"]
                              )
test_ROS_matrix_df

                       Predicted Healthy Loan  Predicted High_Risk Loan
Actual Healthy Loan                     18649                       116
Actual High_Risk Loan                       4                       615

In [19]:
# Print the classification report for the model
testing_report = classification_report(y_test, y_ROS_predictions, target_names=["0 (healthy loan)", "1 (high-risk loan)"])
print(testing_report)

                    precision    recall  f1-score   support

  0 (healthy loan)       1.00      0.99      1.00     18765
1 (high-risk loan)       0.84      0.99      0.91       619

          accuracy                           0.99     19384
         macro avg       0.92      0.99      0.95     19384
      weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The oversampled data provides a much better predictions for both healthy and high-risk loans.
Looking at the confusion matrix, the prediction of high-risk loans as healthy reduced from 56 to 4. That is a big  improvement. At thesame time the prediction of  healthy  loan as high-risk loan has increased from 102 to 116.
The bank should investigate the risk/benefit associated wih taking out high risk loans vs turning away customers.